src/app/Talk2VoxHAUT/app/build/
src/app/Talk2VoxHAUT/app/src/main/assets/
src/app/Talk2VoxHAUT-Sketch/.cache/
src/app/Talk2VoxHAUT-Sketch/.parcel-cache/
src/app/Talk2VoxHAUT-Sketch/dist/
src/app/Talk2VoxHAUT-Sketch/node_modules/