body, html { overflow-x: hidden; }
#main { height: 100vh; }
.chatContent { margin-left: 12px; }

#floating-btn-div {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 888;
}

.floating-btn {
    padding: 7px 3px 3px 3px;
    width: 42px;
    height: 42px;
    background-color: var(--bs-primary);
    border-radius: 90px;
    position: absolute;
    bottom: 24px;
    right: 24px;
    transition: 0.3s all ease-in-out;
}

.floating-btn:active {
    background-color: var(--bs-info);
}

#dialog-options {
    height: 100vh !important;
    width: 100%;
    background-color: var(--bs-white);
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.gap {
    margin-top: 12px;
    display: block;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}